# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, 
Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting 
Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting 
Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift 
Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata 
file and xcuserdata
# hence it is not needed unless you have added a package configuration 
file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. 
However
# you should judge for yourself, the pros and cons are mentioned at:
# 
https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the 
Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage 
dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are 
needed.
# For more information about the recommended setup visit:
# 
https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder 
/iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Pods/Manifest.lock
Pods/Alamofire/LICENSE
Pods/Alamofire/README.md
Pods/Alamofire/Source/AFError.swift
Pods/Alamofire/Source/Alamofire.swift
Pods/Alamofire/Source/AlamofireExtended.swift
Pods/Alamofire/Source/AuthenticationInterceptor.swift
Pods/Alamofire/Source/CachedResponseHandler.swift
Pods/Alamofire/Source/Combine.swift
Pods/Alamofire/Source/Concurrency.swift
Pods/Alamofire/Source/DispatchQueue+Alamofire.swift
Pods/Alamofire/Source/EventMonitor.swift
Pods/Alamofire/Source/HTTPHeaders.swift
Pods/Alamofire/Source/HTTPMethod.swift
Pods/Alamofire/Source/MultipartFormData.swift
Pods/Alamofire/Source/MultipartUpload.swift
Pods/Alamofire/Source/NetworkReachabilityManager.swift
Pods/Alamofire/Source/Notifications.swift
Pods/Alamofire/Source/OperationQueue+Alamofire.swift
Pods/Alamofire/Source/ParameterEncoder.swift
Pods/Alamofire/Source/ParameterEncoding.swift
Pods/Alamofire/Source/Protected.swift
Pods/Alamofire/Source/RedirectHandler.swift
Pods/Alamofire/Source/Request.swift
Pods/Alamofire/Source/RequestInterceptor.swift
Pods/Alamofire/Source/RequestTaskMap.swift
Pods/Alamofire/Source/Response.swift
Pods/Alamofire/Source/ResponseSerialization.swift
Pods/Alamofire/Source/Result+Alamofire.swift
Pods/Alamofire/Source/RetryPolicy.swift
Pods/Alamofire/Source/ServerTrustEvaluation.swift
Pods/Alamofire/Source/Session.swift
Pods/Alamofire/Source/SessionDelegate.swift
Pods/Alamofire/Source/StringEncoding+Alamofire.swift
Pods/Alamofire/Source/URLConvertible+URLRequestConvertible.swift
Pods/Alamofire/Source/URLEncodedFormEncoder.swift
Pods/Alamofire/Source/URLRequest+Alamofire.swift
Pods/Alamofire/Source/URLSessionConfiguration+Alamofire.swift
Pods/Alamofire/Source/Validation.swift
Pods/Target Support Files/Alamofire/Alamofire-dummy.m
Pods/Target Support Files/Alamofire/Alamofire-Info.plist
Pods/Target Support Files/Alamofire/Alamofire-prefix.pch
Pods/Target Support Files/Alamofire/Alamofire-umbrella.h
Pods/Target Support Files/Alamofire/Alamofire.debug.xcconfig
Pods/Target Support Files/Alamofire/Alamofire.modulemap
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop-acknowledgements.markdown
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop-acknowledgements.plist
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop-dummy.m
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop-frameworks.sh
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop-Info.plist
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop-umbrella.h
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop.debug.xcconfig
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop.modulemap
Pods/Target Support Files/Pods-GeekBrainsShop/Pods-GeekBrainsShop.release.xcconfig
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests-acknowledgements.markdown
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests-acknowledgements.plist
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests-dummy.m
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests-frameworks.sh
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests-Info.plist
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests-umbrella.h
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests.debug.xcconfig
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests.modulemap
Pods/Target Support Files/Pods-GeekBrainsShop-GeekBrainsShopTests/Pods-GeekBrainsShop-GeekBrainsShopTests.release.xcconfig
Pods/IQKeyboardManagerSwift/LICENSE.md
Pods/IQKeyboardManagerSwift/README.md
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQKeyboardManager+Debug.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQKeyboardManager+OrientationNotification.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQKeyboardManager+Position.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQKeyboardManager+Toolbar.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQKeyboardManager+UIKeyboardNotification.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQKeyboardManager+UITextFieldViewNotification.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQKeyboardManager.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQKeyboardReturnKeyHandler.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Categories/IQNSArray+Sort.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Categories/IQUIScrollView+Additions.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Categories/IQUITextFieldView+Additions.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Categories/IQUIView+Hierarchy.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Categories/IQUIViewController+Additions.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Constants/IQKeyboardManagerConstants.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/Constants/IQKeyboardManagerConstantsInternal.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQTextView/IQTextView.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQBarButtonItem.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQInvocation.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQPreviousNextView.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQTitleBarButtonItem.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQToolbar.swift
Pods/IQKeyboardManagerSwift/IQKeyboardManagerSwift/IQToolbar/IQUIView+IQKeyboardToolbar.swift
Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift-dummy.m
Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift-Info.plist
Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift-prefix.pch
Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift-umbrella.h
Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift.debug.xcconfig
Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift.modulemap
Pods/Target Support Files/IQKeyboardManagerSwift/IQKeyboardManagerSwift.release.xcconfig
